[Desktop Entry]
Name=System Sounds
Comment=Customize window, workspace, and UI haptic sounds
Exec=/home/khettabishak/.local/bin/omarchy-sounds
Icon=audio-volume-high
Terminal=false
Type=Application
Categories=Settings;Audio;
StartupNotify=true
